.header {
  grid-column: span 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  background-color: #7392ff;
  color: #fff;
  padding: 0px 16px;
  gap: 10px;
  min-height: 8vh;
  max-height: 9vh;
  overflow: hidden;
}

.burger-button {
  background-image: url("./menu_hamburger_burger_icon.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: 100%;
  width: calc(15px + 2vh + 1vw);
  height: calc(20px + 2vh + 1vw);
  border: none;
  outline: none;
}

.exit-button {
  height: calc(25px + 3vh + 1vw);
  color: white;
  border: none;
  outline: none;
  font-size: calc(5px + 2vh);
  background-color: #7392ff;
}

.title {
  font-size: calc(5px + 2vh + 1vw);
  flex-grow: 2;
}

@media (max-width: 970px) {
  .header {
    padding: 0px 10px;
  }

  .exit-button {
    transform: translateX(0px);
  }

  .exit-button::before {
    content: "";
  }
}
