.num_wrapper {
  order: 1;
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 300;
  border-radius: 5px;
  background-color: transparent;
}

.num_text {
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 5px;
  padding: 8px;
  background-color: #fff;
}

.search_form {
  order: 2;
}

.button {
  order: 3;
}

.table {
  order: 4;
}

.paginator {
  order: 5;
}
